name: CI Builds

on: [push]

jobs:
  build:
    if: false  # Disabled - remove this line to re-enable
    name: Build ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Spring Boot
            pom: ./backup/spring-boot/greek-gods-service/pom.xml
          - name: Quarkus
            pom: ./backup/quarkus/greek-gods-service/pom.xml
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true  # Fetches all submodules
      - uses: actions/setup-java@v5
        with:
          distribution: 'graalvm' # See 'Supported distributions' for available options
          java-version: '24'
      - name: Maven build (${{ matrix.name }})
        run: mvn --batch-mode --no-transfer-progress verify --file ${{ matrix.pom }}
